### NOTE 

Pandas melt function implementation

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.DataFrame({
    'Country': ['USA', 'UK'],
    'Year1': [100, 150],
    'Year2': [200, 250],
    'Year3': [300, 350]
})

In [9]:
df.head()

  Country  Year1  Year2  Year3
0     USA    100    200    300
1      UK    150    250    350

In [13]:
df["Country"].value_counts()

Country
USA    1
UK     1
Name: count, dtype: int64

In [8]:
melted_df = pd.melt(df,id_vars=["Country"])

In [11]:
melted_df

  Country variable  value
0     USA    Year1    100
1      UK    Year1    150
2     USA    Year2    200
3      UK    Year2    250
4     USA    Year3    300
5      UK    Year3    350

In [14]:
melted_df["Country"].value_counts()

Country
USA    3
UK     3
Name: count, dtype: int64

Here, after melting the dataset, using just id_vars , we can see that the wide dataset has been converted into long dataset , !

In [29]:
# another melted dataframe 
melted_df_1 = pd.melt(df,id_vars=["Country"],value_vars=['Year1'],var_name="year",value_name="Economic GDP in millions")

In [30]:
melted_df_1

  Country   year  Economic GDP in millions
0     USA  Year1                       100
1      UK  Year1                       150

here you can see that the value_vars decides which column to take and which not to take while created the melted dataframe